---
title: Default layout
is_layout: true
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    %title {{ site.name }}

    %link{href: "{{ 'favicon.png' | theme_image_url }}", rel: "shortcut icon"}

    {{ 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'theme.css' | stylesheet_tag }}

  %body
    {% include 'nav' %}
    .container
      .row
        .col-xs-12
          {% block content %}
          {% endblock %}

    {% include 'footer' %}

    {{ 'https://code.jquery.com/jquery-3.1.1.slim.min.js' | javascript_tag }}
    {{ 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
